.Rproj.user
.Rhistory
.RData
.Ruserdata
public/event 
public/experience 
public/media
public/post
public/publication 
public/publication_types
public/project
public/projects
public/tags
public/teaching